<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd     
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd">
    
    <!-- 注解映射器 -->
    <mvc:annotation-driven/>
    
    <!-- 指定 注解映射器扫描的控制器基础包,该包的所有子包都会被扫描 -->    
    <context:component-scan base-package="com.wfu.web"/>
    <context:component-scan base-package="com.wfu.services"/>
    <!-- 引入属性文件,db.properties位于src/目录下 -->
    <context:property-placeholder location="classpath:db.properties"/>
    
    
    <!-- 
               无需过滤的静态资源,该部分内容,不需要DispatcherServlet 进行拦截
               修改后的配置方式         
    -->
    <mvc:resources mapping="/plugins/**" location="/WEB-INF/plugins/" />
    <mvc:resources mapping="/js/**" location="/WEB-INF/js/" />
    <mvc:resources mapping="/errorPages/**" location="/WEB-INF/errorPages/" />
    
    <!-- 配置视图资源 -->
    <bean id="viewResolver"  class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 视图资源的前缀 -->
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <!-- 视图资源的后缀 -->
        <property name="suffix" value=".jsp"/>
    </bean>
</beans>